.nav {
    background-color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    min-width: 110px;
    max-height: max-content;
    box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
    padding: 4px;
    position: sticky;
    top: 70px;
}

.nav li {
    display: flex;
}

.nav a {
    padding: 6px 0 6px 8px;
    color: black;
    width: 100%;
    text-align: start;
    border-radius: 12px;
    transition: background-color 0.3s ease 0s, color 0.18s ease 0s;
}

.nav a:hover {
    background-color: #f0f0f09f;
    color: #FFB4EF;
}

.nav a[aria-current="page"] {
    background-color: #f0f0f061;
    color: #FFB4EF;
}